<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <div class="login sign" >
       <div class="title"><span>用户登录</span></div>
       <div class="line"><span class="userName">用户名:</span><input type="text"><em></em></div>
       <div><span class="password">密码:</span><input type="password"><em></em></div>
       <div><span class=""></span><button>登录</button></div>
       <p class="">还没注册?<a href="" class="">马上注册</a></p>
   </div> 
   <div class="register">
    <div class="title"><span>用户注册</span></div>
    <div class="line"><span class="userName">用户名:</span><input type="text"><em></em></div>
    <div><span class="password">密码:</span><input type="password"><em></em></div>
    <div><span class=""></span><button>注册</button></div>
    <p class="">已有账号?<a href="" class="">马上登录</a></p>
   </div>
</body>
</html>